p{
    color: #fff;
}
h1, h3 {
    color: #62cdff;
}
.experience {margin-top: 2rem; color: #87d7fc;}
ul {
    display: grid;
}
ul li {
    color: white;
}
a {
    text-decoration: none;
    color: #62cdff;
}
a:hover {
    color: #3e81a0;
}
footer {
    height: 20vh;
}
.skill-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}