main {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-form {
    width: 60%;
}
@media screen and (max-width:768px){
    .main-form {
    width: 90%;
    }
}
textarea {resize: none;}
.btn {display: flex; justify-content: center; margin-top: 50px;}
button{margin: auto;}

footer {height: 40vh;}