main {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
}
.email {
    margin: 20px 0;
}
footer {
    position: fixed;
    bottom: 0px;
}
@media screen and (max-width:768px){
    .navbar>.container {
        gap: 4rem;
    }
}
@media screen and (min-width:768px){
    .email {
        padding: 10px 0;
    }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; 
}
textarea {resize: none; outline: none; padding: 15px; border-radius: 5px;}
textarea::placeholder {
    color: black;
}
