main {
  width: 100%;  
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-form {
    width: 60%;
    margin-top: 30px;
    padding-top: 10px;
}
.email {
    margin: 20px 0;
}
@media screen and (max-width:768px){
    .main-form {
        width: 90%;
    }
    .navbar>.container {
        gap: 4rem;
    }
}
@media screen and (min-width:768px){
    .email {
        padding: 10px 0;
        margin: 0;
    }
    .main-form {
        margin-top: 10%;
        /* padding-top: 10%; */
    }
    footer {
        margin-top: 5%;
    }
}
textarea {resize: none;}
.btn {display: flex; justify-content: center; margin-top: 50px;}
button{margin: auto;}

footer {height: 40vh;}