/* home */
.hero {
    height: 60vh;
    color: #fff;
    margin-top: 50px;
}
.hero p {font-family: Raleway;}

.row {
    height: 100%;
    align-items: start;
}
.row h1 span {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url("../img/wave2.jpg");
    background-position: top;
    border-radius: 10px;
    animation: back 5s linear infinite;
    -webkit-background-clip: text;
}
.navbar {
    background-color: #0a2547;
}
.xs-margin {
    padding-top: 20px;
}
#btn {
    width: 60px;
    height: fit-content;
    background-color: #fff;
    position: fixed;
    bottom: 10px;
    left: 8%;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

@keyframes back {
    100% {
        background-position: bottom;
    }
}
.hero .col-md-6 a {
    text-decoration: none;
    color: #62cdff;
}
.hero .col-md-6 a:hover {
    color: #3e81a0;
}
.hero img {
    width: inherit;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 10px;
}
.my-img {border-radius: 20px;}
/* @media screen and (min-width:768px) {
    .hero img {
        width: 50%;
    }
} */