/* home */
.hero {
    height: 60vh;
    color: #fff;
}
.hero p {font-family: Raleway;}

.row {
    height: 100%;
    align-items: start;
}

.row h1 span {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url("../img/wave2.jpg");
    background-position: bottom;
    border-radius: 10px;
    animation: back 5s linear infinite;
    -webkit-background-clip: text;
}

@keyframes back {
    100% {
        background-position: top;
    }
}
.hero .col-md-6 a {
    text-decoration: none;
    color: #62cdff;
}
.hero .col-md-6 a:hover {
    color: #3e81a0;
}
.hero img {
    border-radius: 50%;
}
@media screen and (min-width:768px) {
    .hero img {
        width: 50%;
    }
}