body {
    overflow-x: hidden;
}
.image-gal {
    display: grid;
    min-width: 100%;
    place-items: center;
    margin-top: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}
.image-gal p {margin-top: 10px;}
.project-1 h2 {
    color: #62cdff;
}
.project-1 {
    border: 3px solid #fff;
    background-color: #5d7ea7a8; 
    border-radius: 10px;
    min-height: 100%;
    min-width: 100%;
    padding:  15px 20px;
}
.project-1 h2 {
    margin: 10px 0;
}
.project-1 a {color: #0a2549;}
.project-1 img {
    max-width: 100%;
    height: auto;
}
.skill-used {
    display: flex;
    flex-wrap: wrap;
}
.skill-used p {
    background-color: #0a2549;
    padding: 7px;
    margin: 5px 5px 5px 0;
    border-radius: 8px;
    text-transform: capitalize;
}
