.image-gal {
    display: grid;
    width: 100%;
    place-items: center;
    margin-top: 7%;
}
.image-gal p {margin-top: 10px;}
.project-1 h2 {
    color: #62cdff;
}
.project-1 {
    border: 3px solid #fff;
    background-color: #0c386ba8; 
    min-width:  200px;
    max-width: 500px;
    min-height: 250px;
    margin-top: 50px;
    border-radius: 10px;
    padding:  15px 20px;
}

@media screen and (min-width: 768px) {
    .image-gal {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .project-1 {margin-top: 20px;}
}
